*{ box-sizing: border-box;}
main
{
  background-color: #FFFFFF;
  margin-left: 190px;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  display: block;
  overflow: auto;
}
body{
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EAEAEA;
}
header
{
  background-color: #002171;
  height:120px;
  text-align: center;
  padding-top:30px;
  padding-left:3em;
  color: #FFFFFF;
}
header :link
{
  text-decoration: none;
  color: #FFFFFF
}
header :visited
{
  text-decoration: none;
  color: #FFFFFF

}
header :hover
{
  text-decoration: none;
  color: #90C7E3;
}
h1
{
  margin-bottom:0;
  font-family: Georgia, Times, serif;
  margin-top:0;
  font-size: 3em;
  letter-spacing: 0.25em;
}
h2
{
  color: #1976D2;
  font-family: Georgia, Times, serif;
  text-shadow: 1px 1px #CCCCCC;
}
h3
{
  font-family: Georgia, Times, serif;
  color: #000033;
}
main ul
{
  list-style-image: url(marker.gif);
}
footer
{
  margin-left: 190px;
  background-color: #FFFFFF;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, Times, serif;
  padding: 2em;
}

dt
{
  color: #002171;
}
nav
{
 font-weight: bold;
 font-size: 120%;
 float: left;
 width: 160px;
 padding: 1.5em;
}
nav ul 
{
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
  list-style-type: none;

}
nav :link
{
  color: #5C7FA3
}
nav :visited
{
  color: #344873
}
nav :hover
{
  color: #A52A2A
}
section
{
  float: left;
  width: 33%;
  padding-left: 2em;
  padding-right: 2em;
}
.resort
{
  font-weight: bold;
}
#wrapper
{
  width:80%;
  background-color: #90C7E3;
  border-color : #000033;
  border-style : solid;
  background: linear-gradient(#FFFFFF, #90C7E3);
  background-repeat: no-repeat;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px #333333;
  margin-left:auto;
  margin-right:auto;
}
#homehero
{
  margin-left: 190px;
  height:300px;
  background-image: url("coast2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#yurthero
{
  margin-left: 190px;
  height:300px;
  background-image: url("yurt.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#trailhero
{
  margin-left: 190px;
  height:300px;
  background-image: url("trail.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#contact
{
  font-size: 90%;
}
